<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <title>管理平台</title>
    <% include common/public.ejs %>
</head>
<body>
<% include common/header.ejs %>

<div class="container">
    首页
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
</div>

<% include common/footer.ejs %>
</body>
</html>
