<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <title>管理平台</title>
    <% include common/public.ejs %>
</head>
<body>
<% include common/header.ejs %>

<div class="container">
    首页
</div>

<% include common/footer.ejs %>
</body>
</html>
