<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <title>管理平台</title>
    <% include common/public.ejs %>
</head>
<body>
<% include common/header.ejs %>

<div class="container page-content">
    <div class="index_tap">
        <div class="tap_panel addMessage">
            <a href="javascript:void(0)">
                <span class="icon glyphicon glyphicon-list-alt"></span>
                <span class="number" id="order">0</span>
                <span class="title">订单数</span>
            </a>
        </div>
        <div class="tap_panel addUser">
            <a href="javascript:void(0)">
                <span class="icon glyphicon glyphicon-globe"></span>
                <span class="number" id="news">5</span>
                <span class="title">新闻数</span>
            </a>
        </div>
        <div class="tap_panel addUser">
            <a href="javascript:void(0)">
                <span class="icon glyphicon glyphicon-book"></span>
                <span class="number" id="food">5</span>
                <span class="title">菜品数</span>
            </a>
        </div>
        <div class="tap_panel addUser">
            <a href="javascript:void(0)">
                <span class="icon glyphicon glyphicon-menu-hamburger"></span>
                <span class="number" id="serviceLine">5</span>
                <span class="title">服务线数</span>
            </a>
        </div>
        <div class="tap_panel total">
            <a href="javascript:void(0)">
                <span class="icon glyphicon glyphicon-user"></span>
                <span class="number" id="custom">30</span>
                <span class="title">总客户数</span>
            </a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                系统公告
            </h3>
        </div>
        <div class="list-group index_message" id="messagePanel">
            <a href="javascript:void(0)" class="list-group-item">
                <span class="date">2016-03-08</span>
                微信连Wi-Fi插件对所有公众号开放
            </a>
        </div>
    </div>
    <div id="pagination"></div>
</div>

<% include common/footer.ejs %>
</body>
</html>
