<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>管理平台</title>
    <% include ../common/public.ejs %>
    <style>
        #undo-node {
            color: blue;
        }
    </style>
</head>
<body>
<% include ../common/header.ejs %>
<div class="container">
    <div class="dolphin-row">
        <div class="dolphin-col-24">
            <div class="page-content">
                <!--title-->
                <div class="page-header">
                    <h1>待处理订单</h1>
                </div>
                <form id="queryForm" name="queryForm" class="form-horizontal form-single">
                    <input type="hidden" name="userJob" value="<%= session.job %>"/>
                    <!--query condition-->
                </form>
                <!--list-->
                <div id="list"></div>
            </div>
        </div>
        <!--<div class="dolphin-col-5">-->
        <!--<% include ./workspaceMenu.ejs %>-->
        <!--</div>-->
    </div>
</div>
<% include ../common/footer.ejs %>
</body>
</html>
