<aside class="workspaceMenuPanel">
    <h2 class="menu-title">个人工作台</h2>
    <ul>
        <li>
            <a id="undo-node" href="/view/workspace/undoList">待处理订单</a>
        </li>
        <li>
            <a id="finish-node" href="/view/workspace/finishList">已处理订单</a>
        </li>
        <li>
            <a id="query-node" href="/view/workspace/finishList">订单查询</a>
        </li>
    </ul>
</aside>