<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>管理平台</title>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../common/header.ejs %>

<div class="container page-content">
    <div class="panel panel-default" style="width: 80%;">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                新闻编辑
            </h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="form">
                <input type="hidden" name="id" id="_pk_id"/>

                <div class="dolphin-row">
                    <div class="dolphin-col-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">标题</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name"/>
                            </div>
                        </div>
                    </div>
                    <div class="dolphin-col-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">副标题</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="subtitle"/>
                            </div>
                        </div>
                    </div>
                    <div class="dolphin-col-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">营运站点</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="site"/>
                            </div>
                        </div>
                    </div>
                    <div class="dolphin-col-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">语言</label>
                            <div class="col-sm-8">
                                <select class="form-control gridCondition" options="lang" name="lang"></select>
                            </div>
                        </div>
                    </div>
                    <div class="dolphin-col-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">生效时间</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="activeTime"/>
                            </div>
                        </div>
                    </div>
                    <div class="dolphin-col-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">排序号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="orderNo" placeholder="大号优先"/>
                            </div>
                        </div>
                    </div>
                    <div class="dolphin-col-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">摘要</label>
                            <div class="col-sm-8">
                                <textarea name="remark" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <script type="text/plain" id="myEditor" style="width:1000px;height:240px;">
        </script>
    </div>
    <div class="form-group" style="padding-top: 10px;">
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary" onclick="submitFunc()">保存</button>
            <button type="button" class="btn btn-default" onclick="Dolphin.goHistory(-1)">取消</button>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<link href="<%= global.config.publicPath %>/uedit/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script src="<%= global.config.publicPath %>/uedit/umeditor.config.js"></script>
<script src="<%= global.config.publicPath %>/uedit/umeditor.min.js"></script>
<script src="<%= global.config.publicPath %>/uedit/lang/zh-cn/zh-cn.js"></script>
<script>
    var um;
    $(function () {
        Dolphin.form.parse();
        um = UM.getEditor('myEditor', {
            imageUrl:"/file/"
            ,imagePath:""
            ,imageFieldName:"upfile"
        });
        var pkId = REQUEST_MAP.data.id;
        if (pkId) {
            Dolphin.ajax({
                url: "/data/sdx/article/" + pkId,
                onSuccess: function (reData) {
                    Dolphin.form.setValue(reData.value, '#form');
                    if (reData.value['uedit'])
                        um.setContent(reData.value['uedit']);
                }
            });
        }
    });
    function submitFunc() {
        var data = Dolphin.form2json("form");
        data['modelId'] = REQUEST_MAP.data.modelId;
        data['uedit'] = um.getContent();
        Dolphin.ajax({
            url: "/data/sdx/article/",
            type: Dolphin.requestMethod.PUT,
            data: Dolphin.json2string(data),
            onSuccess: function (reData) {
                Dolphin.alert(reData.msg || '保存成功', {
                    callback: function () {
                        Dolphin.goHistory();
                    }
                })
            }
        });
    }
</script>
</body>
</html>
