<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>账户充值</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>
<article>
    <div class="bh">
        <ul class="list-group" id="chargeAmount">
            <li class="list-group-item bh">
                <h3><span class="icon_dw">&nbsp;</span>员工卡：346578899</h3><!--TODO 从session中获取-->
            </li>
            <li class="mssm">充值金额</li>
            <li class="add_mk" data-amount="50"><a href="javascript:void(0);">50元</a></li>
            <li class="add_mk add_xz" data-amount="100"><a href="javascript:void(0);">100元</a></li>
            <li class="add_mk" data-amount="200"><a href="javascript:void(0);">200元</a></li>
            <li class="add_mk" data-amount="300"><a href="javascript:void(0);">300元</a></li>
            <li class="add_mk" data-amount="500"><a href="javascript:void(0);">500元</a></li>
            <li class="add_mk" data-amount="1000"><a href="javascript:void(0);">1000元</a></li>
        </ul>
    </div>
</article>

<footer>
    <div class="footer_box"><a href="javascript:void(0);" id="submit" class="weui_btn weui_btn_warn">立即充值</a></div>
</footer>
<% include ../common/footer.ejs %>
</body>
</html>
