<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>消费查询</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>
<h3>本园区暂不提供此项服务。</h3>

<% include ../common/footer.ejs %>
</body>
</html>
