<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>账户信息</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>
验证成功！
<% include ../common/footer.ejs %>
</body>
</html>