<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>收货地址</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>
<article>
    <div class="bh">
        <ul class="list-group">
            <% for(var i = 0; i < body.length; i++){ %>
            <li class="<%= i==0?"list-group-item_edit":"list-group-item_edit_b" %> bh">
                <div class="bh">
                    <div class="title_a_h"><%= body[i].addressee %></div>
                    <div class="title_c_h"><%= body[i].phone %></div>
                </div>
                <div class="mr"><%= body[i].address %></div>
            </li>
            <% } %>
        </ul>
    </div>
</article>

<footer>
    <div class="footer_box"><a href="javascript:;" class="weui_btn weui_btn_default">新增收货地址</a></div>
</footer>

<% include ../common/footer.ejs %>
</body>
</html>
