<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>绑定员工卡</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart class="bg_zi">
<article>
    <div class="div_cd">
        <form id="editForm">
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">

                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" placeholder="您的姓名" name="name"/>
                </div>
            </div>
            <div class="weui_cell">

                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" placeholder="手机号码" name="phone"/>
                </div>
            </div>
        </div>

        <div class="weui_cells weui_cells_form">
            <div class="">
                <div class="weui_cell weui_cell_select">
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" name="company">
                            <option selected="" value="-1">请选择公司</option>
                            <option value="1">微软一号</option>
                            <option value="2">微软一号</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">

                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" placeholder="机构编码" name="orgId"/>
                </div>
            </div>
            <div class="weui_cell">

                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" placeholder="工号" name="code"/>
                </div>
            </div>
            <div class="weui_cell">

                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" placeholder="员工卡号" name="dn"/>
                </div>
            </div>
            <div class="weui_cell">

                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" placeholder="身份证后四位数字" name="idCard"/>
                </div>
            </div>
        </div>
        </form>
    </div>
</article>

<footer>
    <div class="footer_box"><a href="javascript:void(0);" class="weui_btn weui_btn_warn" id="submit">确定</a></div>
</footer>
</article>
<% include ../common/footer.ejs %>
</body>
</html>
