<div class="tybtn_box evaluate_box" >
    <a href="javascript:void(0);" onclick="__evaluat(this, true)" class="weui_btn weui_btn_mini weui_btn_default1 evaluate_yes">100</a>
    <a href="javascript:void(0);" onclick="__evaluat(this, false)" class="weui_btn weui_btn_mini weui_btn_default1 evaluate_no">0</a>
</div>
<script>
    function __evaluat(thisObj, flag){
        var param, _this = $(thisObj);
        var param_panel = _this.closest(".evaluate_param");
        if(param_panel.length > 0){
            param = param_panel.data();
        }
        if(!param.objectId){
            alert("不可评价");
            return;
        }
        param.userId = "<%= userData.siteId %>";
        param.userType = "<%= userData.userType %>";
        param.value = flag?1:0;

        Dolphin.ajax({
            url:'/data/sdx/comment/',
            type: Dolphin.requestMethod.PUT,
            data: Dolphin.json2string(param),
            onSuccess:function(ret){
                if(ret.id<0){
                    alert(ret.remark);
                } else{
                    _this.html(_this.html()-0+(flag?1:-1));
                }
            }
        });
    }
</script>