<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>管理平台</title>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../common/header.ejs %>

<div class="container page-content">
    <div id="categoryPanel">
        <!--title-->
        <div class="page-header">
            <h1>品类管理</h1>

            <div class="operationButton">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success" id="insertRoot">
                        <span class="glyphicon glyphicon-plus"></span>
                        添加根节点
                    </button>
                    <button type="button" class="btn btn-info" id="insert" disabled="disabled">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        添加子节点
                    </button>
                    <button type="button" class="btn btn-primary" id="update" disabled="disabled">
                        <span class="glyphicon glyphicon-pencil"></span>
                        修改基本信息
                    </button>
                    <!--<button type="button" class="btn btn-danger" id="delete" disabled="disabled">-->
                        <!--<span class="glyphicon glyphicon-trash"></span>-->
                        <!--删除-->
                    <!--</button>-->
                </div>
            </div>
        </div>

        <div class="dolphin-row">
            <div class="dolphin-col-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            品类树
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="categoryTree"></div>
                    </div>
                </div>
            </div>

            <div class="dolphin-col-16 default-hidden" id="infoPanel">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            基本信息
                        </div>
                    </div>
                    <div class="panel-body form-horizontal" id="baseInfo">
                        <div class="dolphin-row">
                            <div class="dolphin-col-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        品类编码
                                    </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static" name="code"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="dolphin-col-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        品类名称
                                    </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static" name="name"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="dolphin-col-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        上级节点
                                    </label>
                                    <div class="col-sm-8">
                                        <p id="parentName" class="form-control-static" name="parent.name"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="dolphin-col-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        备注
                                    </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static" name="remark"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            属性列表

                            <div class="operationButton">
                                <button type="button" class="btn btn-success" id="multipleUpdateAttr">
                                    <span class="glyphicon glyphicon-sort dolphin-rotate-90"></span>
                                    添加/删除属性
                                </button>
                                <!--<button type="button" class="btn btn-info" id="categoryAttrSave" disabled="disabled">-->
                                    <!--<span class="glyphicon glyphicon-save"></span>-->
                                    <!--保存-->
                                <!--</button>-->
                            </div>
                        </div>
                    </div>
                    <div id="productList"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="default-hidden" id="attributePanel">
        <!--title-->
        <div class="page-header">
            <h1>添加/删除属性</h1>

            <div class="operationButton">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" id="confirm" disabled="disabled">
                        <span class="glyphicon glyphicon-ok"></span>
                        确定
                    </button>
                    <button type="button" class="btn btn-default" id="cancel" disabled="disabled">
                        <span class="glyphicon glyphicon-remove"></span>
                        取消
                    </button>
                </div>
            </div>
        </div>

        <div class="dolphin-row">
            <div class="dolphin-col-10">
                <div id="selectedList"></div>
            </div>
            <div class="dolphin-col-4">
                <button class="btn btn-info btn-block" change="select" all="true">&lt;&lt;</button>
                <button class="btn btn-info btn-block" change="select">&lt;</button>
                <br/><br/>
                <button class="btn btn-success btn-block" change="unSelect">&gt;</button>
                <button class="btn btn-success btn-block" change="unSelect" all="true">&gt;&gt;</button>
            </div>
            <div class="dolphin-col-10">
                <div id="unselectedList"></div>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------------- modal win ---------------------------------------------------------------------->
<div class="default-hidden" id="categoryModalWin">
    <form id="categoryForm" class="form-horizontal">
        <input type="hidden" name="parent.id" />
        <input type="hidden" name="id" />
        <div class="dolphin-row">
            <div class="dolphin-col-24">
                <div class="form-group">
                    <label class="dolphin-col-6 control-label">品类编码</label>
                    <div class="dolphin-col-18">
                        <input type="text" class="form-control" name="code"/>
                    </div>
                </div>
            </div>
            <div class="dolphin-col-24">
                <div class="form-group">
                    <label class="dolphin-col-6 control-label">品类名称</label>
                    <div class="dolphin-col-18">
                        <input type="text" class="form-control" name="name" />
                    </div>
                </div>
            </div>
            <div class="dolphin-col-24">
                <div class="form-group">
                    <label class="dolphin-col-6 control-label">
                        品类图标
                    </label>
                    <div class="dolphin-col-18">
                        <select class="form-control" options="categoryIcon" name="icon"></select>
                    </div>
                </div>
            </div>
            <div class="dolphin-col-24">
                <div class="form-group">
                    <label class="dolphin-col-6 control-label">
                        备注
                    </label>
                    <div class="dolphin-col-18">
                        <textarea class="form-control" name="remark"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<% include ../common/footer.ejs %>
</body>
</html>
