<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>管理平台</title>
    <% include ../common/public.ejs %>
    <style>

        .rel_li {
            height: 20px;
        }

        .rel_li a {
            float: left;
            padding-left: 10px;
        }
    </style>
</head>
<body>
<% include ../common/header.ejs %>

<div class="container page-content">
    <!--title-->
    <div class="page-header">
        <h1>角色管理</h1>

        <div class="operationButton">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" id="insert">
                    <span class="glyphicon glyphicon-plus"></span>
                    添加
                </button>
                <button type="button" class="btn btn-primary" id="update">
                    <span class="glyphicon glyphicon-pencil"></span>
                    修改
                </button>
                <button type="button" class="btn btn-danger" id="delete">
                    <span class="glyphicon glyphicon-trash"></span>
                    删除
                </button>
            </div>
        </div>
    </div>

    <div class="dolphin-row">
        <div class="dolphin-col-24" id="listPanel">
            <!--list-->
            <div id="list"></div>
        </div>
        <div class="dolphin-col-6" id="formPanel">
            <!--form-->
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            角色维护
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="editForm">
                            <input type="hidden" name="id"/>
                            <div class="form-group">
                                <label>角色编码</label>
                                <input type="text" class="form-control" name="code" dol-validate="required">
                            </div>
                            <div class="form-group">
                                <label>角色名称</label>
                                <input type="text" class="form-control" name="name" dol-validate="required">
                            </div>
                            <div class="form-group">
                                <label>权限</label>
                                <input type="text" class="form-control" name="permits">
                            </div>
                            <hr/>
                            <div class="form-buttons">
                                <button type="button" class="btn btn-primary" id="save">保存</button>
                                <button type="button" class="btn btn-default" id="cancel">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>
</body>
</html>
