<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>最新新闻</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>
<% if(body.length == 0){ %>
暂无消息
<% }else{%>
<% include ./newsByPage.ejs %>
<% } %>
<% include ../common/footer.ejs %>
</body>
</html>
