<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>消息中心</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>

<div class="news_xq">
    <ul>
        <li class="name"><h3>本餐厅未开通此项服务</h3></li>
    </ul>
</div>
<% include ../common/footer.ejs %>
</body>
</html>
