<!DOCTYPE html>
<html>
  <head>
    <title>i18n测试</title>
  </head>
  <body>
    <h1>i18nTest</h1>
    <p>router : <%= bodyData.routerData %></p>
    <p>ejs : <%= __('test2') %></p>

  </body>
</html>
