<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>管理平台</title>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../common/header.ejs %>

<div class="container page-content">
    <!--title-->
    <div class="page-header">
        <h1>餐厅管理</h1>

        <div class="operationButton">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" id="insert">
                    <span class="glyphicon glyphicon-plus"></span>
                    添加
                </button>
                <button type="button" class="btn btn-primary" id="update">
                    <span class="glyphicon glyphicon-pencil"></span>
                    修改
                </button>
                <button type="button" class="btn btn-danger" id="delete">
                    <span class="glyphicon glyphicon-trash"></span>
                    删除
                </button>
            </div>
        </div>
    </div>

    <!--query condition-->
    <div class="panel panel-default togglePanel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-search"></span>
                查询条件
            </h3>
        </div>
        <div class="panel-body default-hidden">
            <form id="queryForm" name="queryForm" class="form-horizontal form-single">
                <div class="dolphin-row">
                    <div class="dolphin-col-10">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                餐厅编码
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="code">
                            </div>
                        </div>
                    </div>
                    <div class="dolphin-col-10">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                餐厅名称
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="dolphin-col-4">
                        <div class="queryButtonPanel">
                            <button class="btn btn-small btn-primary" type="button" id="query">
                                查询
                            </button>
                            <button class="btn btn-small btn-default" type="button" id="conditionReset">
                                清空
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="dolphin-row">
        <div class="dolphin-col-24" id="listPanel">
            <!--list-->
            <div id="list"></div>
        </div>
        <div class="dolphin-col-6" id="formPanel">
            <!--form-->
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            餐厅维护
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="editForm">
                            <input type="hidden" name="id"/>
                            <div class="form-group">
                                <label>餐厅编码</label>
                                <input type="text" class="form-control" name="code" dol-validate="required">
                            </div>
                            <div class="form-group">
                                <label>餐厅名称</label>
                                <input type="text" class="form-control" name="name" dol-validate="required">
                            </div>
                            <div class="form-group">
                                <label>联系方式</label>
                                <input type="text" class="form-control" name="telephone">
                            </div>
                            <div class="form-group">
                                <label>营业时间</label>
                                <table>
                                    <tr>
                                        <td><select style="width: 100px;" class="form-control" options="time_type"
                                                    name="timeType"></select></td>
                                        <td><input type="text" class="form-control" name="startTime"></td>
                                        <td>-</td>
                                        <td><input type="text" class="form-control" name="endTime"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="form-group">
                                <label>地址</label>
                                <input type="text" class="form-control" name="address">
                            </div>
                            <div class="form-group">
                                <label>描述</label>
                                <textarea class="form-control" name="remark" rows="1"></textarea>
                            </div>
                            <div class="form-buttons">
                                <button type="button" class="btn btn-primary" id="save">保存</button>
                                <button type="button" class="btn btn-default" id="cancel">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
</body>
</html>
