/************************************ overwrite bootstrap start ******************************/
#pageHeader{
    border-bottom: 1px solid #000000;
    box-shadow: 0 0 5px 0 blue;
    background-color: #fff;
}

/************************************ overwrite bootstrap end ******************************/
/*common*/
body{
    background: #eee;
}
body > nav{
    margin: 0;
}
body .page-content{
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}
@media (min-width: 1200px){
    .container{
        width: 1240px;
    }
}

/*title*/
.page-header:first-child {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    position: relative;
}

.page-header:first-child h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #2679b5;
    text-align: left;
}

.page-header:first-child h1 small {
    margin: 0 6px;
    font-size: 14px;
    font-weight: normal;
    color: #8089a0;
}


/*panel*/
.operationButton {
    height: 35px;
    margin-bottom : 5px;
    text-align: right;
}
.operationButton.autoHeight {
    height: auto;
    margin-bottom : 5px;
}

.operationButton .btn-group.float-right {
    margin-left: 10px;
}
.page-header .operationButton{
    position: absolute;
    right: 3px;
    top: -4px;
}


/*form*/
.form-buttons{
    text-align: center;
}
.form-group{
    margin-bottom:8px;
}

.workspaceMenuPanel{
    margin: 0;
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px #c5cacb;
    font-size: 12px;
    word-wrap: break-word;
}
.workspaceMenuPanel > .menu-title{
    font-family: 'Microsoft YaHei', Arial, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #565656;
    margin:0 0 15px;;
}
.workspaceMenuPanel > ul{
    list-style-image: url('../images/icon/bullet.png');
    font-size: 15px;
    font-family: "Microsoft YaHei", "Microsoft JhengHei", sans-serif;
    padding-left: 20px;
    margin:0;
}
.workspaceMenuPanel > ul > li{
    line-height: 20px;
}

.workspaceMenuPanel > ul > li a{
    color: #777;
    text-decoration: none;
}
.workspaceMenuPanel > ul > li a:hover{
    color: #777;
    text-decoration: underline;
}
.workspaceMenuPanel a.active{
    color : blue;
}
.workspaceMenuPanel a.active:hover{
    color : blue;
}

/* .slideThree */
.slideThree {
    width: 60px;
    height: 26px;
    background: #333;
    display:inline-block;
    margin: 0 auto;
    position: relative;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
    content: '否';
    color: #dddddd;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
    content: '是';
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}
.slideThree label {
    display: block;
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
    visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
    left: 31px;
}
.navMenu{
    cursor: pointer;
}

/*index*/
.index_tap{
    margin-bottom: 20px;
}
.index_tap .tap_panel{
    display: inline-block;
    width:33%;
    background:#7cbae5;
    border:1px solid #6eb0dd;
}
.index_tap .tap_panel:hover{
    opacity: 0.7;
}
.index_tap .tap_panel.addUser{
    margin-left: -5px;
}
.index_tap .tap_panel.total{
    float:right;
    background:#60d295;
    border:1px solid #57c78b;
}
.index_tap .tap_panel a{
    display: block;
    padding: 26px 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.index_tap .tap_panel a .icon{
    width: 34px;
    height: 34px;
    vertical-align: middle;
    display: inline-block;
}
.index_tap .tap_panel.addMessage a .icon{
    background: url("../images/icon/page_index_z25b76d.png") 0 0 no-repeat;
}
.index_tap .tap_panel.addUser a .icon{
    background: url("../images/icon/page_index_z25b76d.png") 0 -44px no-repeat;
}
.index_tap .tap_panel.total a .icon{
    background: url("../images/icon/page_index_z25b76d.png") 0 -88px no-repeat;
}
.index_tap .tap_panel a .number{
    margin-left: 5px;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    font-size: 35px;
}
.index_tap .tap_panel a .title{
    display: block;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: -10px;
}

.index_message .date{
    float: right;
    color : #8d8d8d;
}