<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <title>微信端</title>
    <% include common/public.ejs %>
</head>
<body ontouchstart>
<% include common/header.ejs %>

<div class="nav">
    <h4>索迪斯微软餐厅</h4>
    <ul>
        <li><h3>登录</h3></li>
        <li><a href="/view/login" style="text-decoration:line-through;">账户登录</a></li>
        <li><a href="/view/account/servicePoint">注册网点</a></li>
        <li><a href="/view/account/bindEmployeeInfo">绑定员工信息</a></li>
        <li><a href="/view/account/bindCard" style="text-decoration:line-through;">绑定员工卡</a></li>
        <hr/>
        <li><h3>个人信息</h3></li>
        <li><a href="/view/account/myAccount">我的账户</a></li>
        <li><a href="/view/account/account" style="text-decoration:line-through;">顾客账户</a></li>
        <li><a href="/view/account/address">收货地址</a></li>
        <li><a href="/view/account/addAddress">新增收货地址</a></li>
        <li><a href="/view/account/accountDetail" style="text-decoration:line-through;">收支明细</a></li>
        <li><a href="/view/account/accountBalance" style="text-decoration:line-through;">账户余额</a></li>
        <li><a href="/view/account/accountCharge" style="text-decoration:line-through;">账户充值</a></li>
        <hr/>
        <li><h3>消息中心</h3></li>
        <li><a href="/view/message/news">新闻列表</a></li>
        <li><a href="/view/message/newsDetail?id=1">新闻详情</a></li>
        <li><a href="/view/message/message" style="text-decoration:line-through;">消息中心</a></li>
        <li><a href="/view/message/messageLuckyMoney" style="text-decoration:line-through;">消息中心_红包代金券</a></li>
        <hr/>
        <li><h3>餐厅</h3></li>
        <li><a href="/view/order/restaurantDetail" style="text-decoration:line-through;">餐厅菜单</a></li>
        <hr/>
        <li><h3>订单</h3></li>
        <li><h4>--新建--</h4></li>
        <li><a href="/view/order/bookSite">订位</a></li>
        <li><a href="/view/order/orderDetail?id=2&bookFlag=true">订位订单确认</a></li>
        <li><a href="/view/order/orderDetail?id=2">订位订单—弹出层</a></li>
        <li><a href="/view/order/restaurantList?orderType=wm">餐厅列表（外卖）</a></li>
        <li><a href="/view/order/restaurantList?orderType=tc">餐厅列表（堂吃）</a></li>
        <li><a href="/view/order/orderFood">点餐界面</a></li>
        <li><a href="/view/order/orderFood">餐厅信息</a></li>
        <li><a href="/view/order/orderFood">菜品信息</a></li>
        <li><a href="/view/order/orderFood">购物车弹出层</a></li>
        <li><a href='/view/order/orderFood'>订单详情</a></li>
        <li><a href='/view/order/otherService'>其它服务</a></li>
        <li><h4>--查看--</h4></li>
        <li><a href="/view/order/myOrder">我的订单</a></li>
        <li><a href="/view/order/employeeOrder">订单列表(工作人员)</a></li>
        <li><a href="/view/order/orderDetail?id=1">已完成订单—外卖订单</a></li>
        <li><a href="/view/order/orderDetail?id=6">已完成订单—订位订单</a></li>
        <li><a href="/view/order/orderDetail?id=7">堂吃（外带）订单</a></li>
    </ul>
</div>

<% include common/footer.ejs %>
</body>
</html>
