<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <title>管理平台</title>
    <% include common/public.ejs %>
</head>
<body ontouchstart>
<% include common/header.ejs %>

<div class="nav">
    <h4>索迪斯微软餐厅</h4>
    <ul>
        <li><h3>登录</h3></li>
        <li><a href="/view/login">账户登录</a></li>
        <li><a href="/view/account/bindCard">绑定员工卡</a></li>
        <hr/>
        <li><h3>个人信息</h3></li>
        <li><a href="/view/account/myAccount">我的账户</a></li>
        <li><a href="/view/account/account">顾客账户</a></li>
        <li><a href="/view/account/address">收货地址</a></li>
        <li><a href="/view/account/addAddress">新增收货地址</a></li>
        <li><a href="/view/account/accountDetail">收支明细</a></li>
        <li><a href="/view/account/accountBalance">账户余额</a></li>
        <li><a href="/view/account/accountCharge">账户充值</a></li>
        <hr/>
        <li><h3>消息中心</h3></li>
        <li><a href="/view/message/message">消息中心</a></li>
        <li><a href="/view/message/messageLuckyMoney">消息中心_红包代金券</a></li>
        <hr/>
        <li><h3>餐厅</h3></li>
        <li><a href="/view/restaurant/restaurantList">餐厅列表</a></li>
        <li><a href="/view/restaurant/restaurantDetail">餐厅菜单</a></li>
        <hr/>
        <li><h3>订单</h3></li>
        <li><h4>--新建--</h4></li>
        <li><a href="/view/order/bookSite">订位</a></li>
        <li><a href="/view/order/confirmSite?bookFlag=true">订位订单确认</a></li>
        <li><a href="/view/order/confirmSite">订位订单—弹出层</a></li>
        <li><a href="/view/order/orderFood">点餐界面</a></li>
        <li><a href="/view/order/orderFood">餐厅信息</a></li>
        <li><a href="/view/order/orderFood">菜品信息</a></li>
        <li><a href="/view/order/orderFood">购物车弹出层</a></li>
        <li><a href="ddxq.html">订单详情</a></li>
        <li><h4>--查看--</h4></li>
        <li><a href="/view/order/myOrder?orderType=dfd">我的订单(待付款)</a></li>
        <li><a href="/view/order/myOrder?orderType=yfd">暂无订单(已付款)</a></li>
        <li><a href="/view/order/myOrder?orderType=ywc">已完成订单</a></li>
        <li><a href="/view/order/orderDetail?id=1">已完成订单—外卖订单</a></li>
        <li><a href="/view/order/orderDetail?id=2">已完成订单—订位订单</a></li>
        <li><a href="/view/order/orderDetail?id=3">堂吃（外带）订单</a></li>
    </ul>
</div>

<% include common/footer.ejs %>
</body>
</html>
