<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <title>账户登录</title>
    <% include common/public.ejs %>
    <style>
        .search_cyc a{
            color: blue;
        }
    </style>
</head>
<body ontouchstart>
<article>
    <div class="search_cyc">
        您尚未注册，前往<a href="<%= global.config.contextPath + global.config.viewPrefix %>/account/myAccount">我的账户</a>注册您的信息！
    </div>

</article>
</body>
</html>
