<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <title>账户登录</title>
    <% include common/public.ejs %>
</head>
<body ontouchstart>
<article>
    <div class="search_cyc">
        您尚未注册，前往我的账户注册您的信息！
    </div>

</article>
</body>
</html>
