<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
  </head>
  <body>
    <h1>Javascript World</h1>
    <p>Welcome to Javascript World</p>
  <script>
    location.href="view/index";
  </script>
  </body>
</html>
