<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>订位</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>
<div>
    <form id="editForm">
        <div class="weui_cells">
            <div class=" weui_cells_access">
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>请选择餐厅</p>
                    </div>
                    <div class=""><select class="weui_select" name="storeName">
                            <option value="1">索迪斯微软食堂一号</option>
                            <option value="2">索迪斯微软食堂二号</option>
                            <option value="3">索迪斯微软食堂三号</option>
                        </select></div>
                </a>
            </div>
        </div>
        <div class="weui_cells">
            <div class=" weui_cells_access">
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>人数</p>
                    </div>
                    <div class=""><select class="weui_select" name="personNum">
                            <option value="1">1人</option>
                            <option value="2">2人</option>
                            <option value="3">3人</option>
                            <option value="4" selected>4人</option>
                            <option value="5">5人</option>
                            <option value="6">6人</option>
                            <option value="7">7人</option>
                            <option value="8">8人</option>
                        </select></div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>拼桌</p>
                    </div>
                    <div class="<!--weui_cell_ft-->"><select class="weui_select" name="acceptShare">
                            <option value="1" selected>愿意</option>
                            <option value="2">不愿意</option>
                        </select></div>
                </a>
                <a class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>时间</p>
                    </div>
                    <div class="weui_cell_ft">01月27日 明天12:00</div>
                </a>

            </div>
        </div>
        <div class="weui_cells weui_cells_form div_dw">
            <div class="weui_cell">
                <div class="weui_cell_hd1"><label class="weui_label">联系人</label></div>
                <div class="weui_cell_bd1 weui_cell_primary">
                    <input class="weui_input" type="text" placeholder="您的姓名" name="contactPerson"/>
                </div>
                <div class=" weui_cells_radio">
                    <label class="weui_cell weui_check_label" for="s12">
                        <div class="weui_cell_hd1">
                            <input type="radio" name="sex" value="female" class="weui_check" id="s12">
                            <i class="weui_icon_checked"></i>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>女士</p>
                        </div>
                    </label>
                    <label class="weui_cell weui_check_label" for="s11">
                        <div class="weui_cell_hd1">
                            <input type="radio" class="weui_check" name="sex" value="male" id="s11" checked="radio">
                            <i class="weui_icon_checked"></i>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>先生</p>
                        </div>
                    </label>

                </div>
            </div>
            <div class="weui_cells">
                <div class="weui_cell weui_cell_select weui_select_before">
                    <div class="weui_cell_hd">
                        <select class="weui_select" name="select2">
                            <option value="1">+86</option>
                            <option value="2">+80</option>
                            <option value="3">+84</option>
                            <option value="4">+87</option>
                        </select>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="tel" placeholder="请输入号码" name="phone" />
                    </div>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea __remark" placeholder="如有特殊要求请留言" rows="3" name="remark"></textarea>
                    <div class="weui_textarea_counter"><span class="__remarkLength">0</span>/200</div>
                </div>
            </div>
        </div>
    </form>
</div>

<footer>
    <div class="footer_box"><a href="javascript:void(0);" id="submit" class="weui_btn weui_btn_warn">订位</a></div>
</footer>
<% include ../common/footer.ejs %>

<script>

    $("#submit").click(function () {
        var orderInfo = Dolphin.form2json("editForm");
        orderInfo.userId = '<%= userData.userId %>';
        orderInfo.userMobile = '<%= userData.userMobile %>';
        orderInfo.userName = '<%= userData.userName %>';
        //reservedTime缺少
        Dolphin.ajax({
            url: '/data/sdx/seatOrder/',
            type: Dolphin.requestMethod.PUT,
            data: Dolphin.json2string(orderInfo),
            onSuccess: function (reData) {
                //判断支付情况
                Dolphin.goUrl("/order/seatDetail");
            }
        });
    });

</script>

</body>
</html>
