<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <title>我的订单</title>
    <% include ../common/public.ejs %>
</head>
<body ontouchstart>
<% if(userData.userJob) { %>
<div><a href="employeeOrder" style="padding:10px;line-height: 3em">订单管理</a>
<a href="employeeSeat" style="padding:10px;line-height: 3em">订位管理</a>
<a href="employeeOrder" style="padding:10px;line-height: 3em">其他服务</a></div>
<% } %>
<% if(body.length > 0 ){%>
    <% include ./myOrderByPage.ejs %>
<% }else{ %>
<div class="noorder">

    <div class="noorder_text">
        有种淡淡的忧伤
        <p><a href="#">去餐厅逛逛吧</a></p>
    </div>

</div>
<% } %>

<% include ../common/footer.ejs %>
<script>
    $(document).ready(function() {
        var nicesx = $("#boxscroll").niceScroll("#boxscroll div",{touchbehavior:true,cursorcolor:"#FF00FF",cursoropacitymax:0.6,cursorwidth:24,usetransition:true,hwacceleration:true,autohidemode:"hidden"});
    });
</script>
</body>
</html>
